body {
    background: rgba(181, 234, 241, 0.335);
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}

.foto-principal {
    border: 10px solid rgb(12, 12, 12); /*shorthand*/
    border-radius: 50%; /*50% = exatamente redondo */
    margin-left: auto; /* centralizar */
    margin-right: auto; /* centralizar */
       /*display: block; transformar em bloco para poder centralizar*/
    /*border-width: 10px;
    border-color: aqua;
    border-style: solid;*/
}


