body {
    background-color: rgba(152, 243, 243, 0.555);
    background: red url("background.jpg") no-repeat ;
    background-size: cover;
    background-position: top center ;
    background-attachment: fixed;
    
}


p {
    background-color: rgb(177, 221, 19);
}